$popperPadding: 25px;
$primary-red: #ff4d4d;
$progress-bar-bg: #ff4d4d;

[data-tg-tour] {
  scroll-margin: 30px 0; // Over-written by JS -  use the autoScrollOffset option
}

.tg-backdrop {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 99;
  border-radius: 7px;
  box-shadow: rgba(33, 33, 33, 0.1) 0 0 1px 2px, rgba(33, 33, 33, 0.1) 0 0 0 1000vh; // Over-written by JS
  border: 1px solid rgba(193, 192, 232, 0.5); // helps for dark mode contrast
}

.tg-dialog {
  border-radius: 12px;
  min-height: 243px;
  background: #fff;
  color: #252525;
  max-width: 430px;
  width: 100%;
  z-index: 9999;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  font-size: 0.9rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);

  .tg-dialog-header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    padding: $popperPadding $popperPadding 0 $popperPadding;
    .tg-dialog-title{
      font-size: 22px;
      font-weight: 700;
      & + .tg-dialog-body{
        padding: ($popperPadding*0.75) $popperPadding ($popperPadding*0.75) $popperPadding;
      }
    }
    
    .tg-dialog-spinner{
      display: none;
      opacity: .4;
      margin-top: -1px;
      -webkit-animation: tg-spin 1s linear infinite;
      -moz-animation: tg-spin 1s linear infinite;
      -o-animation: tg-spin 1s linear infinite;
      animation: tg-spin 1s linear infinite;
      @keyframes tg-spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(359deg);
        }
      }
    }
  }

  .tg-dialog-progress-bar {
    background: #f1f1f1;
    height: 10px;
    display: block;
    position: relative;
    bottom: 0;
    width: 329px;
    border-radius: 10px;
    margin: 0 auto; // Centers the progress bar horizontally

    .tg-bar {
      position: absolute;
      top: 0;
      left: 0;
      background: $progress-bar-bg !important;
      height: 100%;
      display: block;
      transition: all 300ms;
      width: 0%;
      border-radius: 10px;
    }
  }

  .tg-arrow {
    position: absolute;
    background: #fff;
    width: 9px;
    height: 9px;
    border-radius: 1px;
    transform: rotate(45deg);
  }
}

.tg-backdrop-animate {
  transition: all 300ms;
}

.tg-dialog-fixed {
  transition: none;
  animation-delay: 0ms;
}

.animate-position {
  transition: all 300ms;
}

.tg-dialog-loading {
  .tg-dialog-header {
    .tg-dialog-title {
      opacity: 0.4;
    }
    .tg-dialog-close-btn {
      display: none;
    }
    .tg-dialog-spinner {
      display: inline-block;
    }
  }

  .tg-dialog-body {
    opacity: 0.4;
    pointer-events: none;
  }

  .tg-dialog-footer {
    pointer-events: none;
    opacity: 0.4;
  }
}

.tg-step-progress {
  font-size: 0.78rem;
  font-weight: 700;
  margin: 0 auto;
  opacity: 0.4;
  letter-spacing: 1px;
  display: inline-block;
}

.tg-dialog-footer-right {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.tg-dialog-footer-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

